.DS_Store
.cache
geckodriver.log

output.csv
app-credentials.py
scrape-prod.py
remove-spotify-dupes-prod.py

node_modules/
test-scripts/
outputs/
outputs-old/
outputs-test/
outputs-test-2023-only/
console-output/
old/
